#dieOne{
  float: left;
  width: 72px;
  padding: 45px;
  font-size: 24px;
  margin: 7px;
  border: 2px solid black;
}
#dieTwo{
  float: left;
  width: 72px;
  padding: 45px;
  font-size: 24px;
  margin: 10px;
  border: 2px solid black;
}

#firstPlayer{
  align-items: baseline;
}
