 /* .container{
  background-image: url("http://bestanimations.com/Games/Dice/rolling-dice-gif-3.gif")
  background-repeat:no-repeat;
} */
.container2{
  background-image: url("http://bestanimations.com/Games/Dice/rolling-dice-gif-3.gif")
}
